/* @import "tailwindcss"; */

.main-div{
  text-align: center;
  margin-top: 5%;
  padding: 5px;
  border-radius: 4px;
}
.input{
 
  outline: none;
}

.btn{
  background-color: blue;
  margin-left: 10px;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  border: none;
  font-weight: bolder;
}


.delete {
  background-color: red;
  margin-left: 10px;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  border: none;
 
  font-weight: bolder;
}

.done {
  background-color: green;
  margin-left: 10px;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  border: none;
 
  font-weight: bolder;
}

.text-center{
  text-align: center;
 }

ul{
  list-style: none;
}
li{
      display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
}

.textArea{
     margin-right: 27px;
     background-color: #e2efc3;
     padding: 5px;
     border-radius: 4px;
     
}

button{
  cursor: pointer;
}